# ───────────────
# 1. 컴파일 결과물
# ───────────────
*.o
*.d
*.a
*.out
*.exe
*.a
*.so
*.dSYM/
*.dll

# ───────────────
# 2. 임시 파일 및 로그
# ───────────────
*.log
*.tmp
*.swp
*.swo
*~

# ───────────────
# 3. 시스템 파일
# ───────────────
.DS_Store
Thumbs.db

# ───────────────
# 4. IDE / 에디터 설정
# ───────────────
.vscode/
*.code-workspace

# ───────────────
# 5. Neovim / 플러그인 캐시
# ───────────────
.local/
.cache/
.mason/
lazy-lock.json
session.*
nvimundo_*

# ───────────────
# 6. 기타
# ───────────────
a.out

